.home {
	position: relative;
	&__content {
		overflow: hidden;
		@extend .grid;
	}
	&__box {
		width: 32%;
		margin-bottom: 0%;
		float: left;
		@extend .t;
		&:nth-child(3n+2) {
			margin-right: 2%;
			margin-left: 2%;
		}
		&:nth-child(3n-2) {
		}
	}
	&__list-content {
		overflow: hidden;
		width: 90%;
		margin: 0 auto;
		max-width: 1116px;
	}
	&__content {
		width: 100%;
		opacity: 0.5;
		display: table;
		height: 250px;
		background-color: $grisOsc;
		border-radius: 0.5rem;
		box-sizing: border-box;
		overflow: hidden;
		@extend .t;
		&:hover {
			opacity: 1;
		}
	}
	&__link-table {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		color: transparent;
		z-index: 10;
		&:hover {
			cursor: pointer;
		}
	}
	&__title {
		overflow: hidden;
		display: table-cell;
		vertical-align: middle;
		color: black;
		@extend .font-2;
		font-size: 2rem;
		text-transform: uppercase;
		text-align: center;
	}
}
