
.home {
	&__content {
		overflow: hidden;
		@extend .t;
		@extend .grid;
	}
	&__box {
		width: 31.3%;
		margin-top: 0;
		float: left;
		@extend .t;
		margin-right: 1%;
		padding-left: 1%;
		&:nth-child(3n+2) {
		}
	}
	&__list-content {
		overflow:hidden;
		width: 90%;
		margin: 0 auto;
		max-width: 1116px;
	}
	&__content {
		width: 100%;
		margin-top: 0;
		position: relative;
		opacity: 0.7;
		background-color: $grisOsc;
		border-radius: 0.5rem;
		box-sizing: border-box;
		overflow: hidden;
		//background: url('img/image.jpg') no-repeat;
		background-repeat:no-repeat;
		//background-size: 22.3rem auto;
		background-size:cover;
		@extend .t;
		&:hover {
			opacity: 1;
		}
	}

.cover{
	background-size:cover;
	width: 101%;
	display: table;
	height: 250px;
	border-radius: 0.5rem;
	background-color: rgba(255,60,0,0.5);
	@extend .t;
	&:hover {
		background-color: rgba(48,48,48,1.0);
	}
}
	&__link-table {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		color: transparent;
		z-index: 10;
		@extend .t;
		&:hover {
			cursor: pointer;
		}
	}
	&__title {
		overflow: hidden;
		width: 60%;
		padding-right:1.5rem;
		text-align: right;
		display: table-cell;
		vertical-align: middle;
		color: white;
		opacity: 1;
		@extend .font-2;
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}
