/* colors */

$negro: #333;
$corporative: red;
$gris: #f0f0f0;
$grisOsc: #ABABAB;
$blanco: #ffffff;



/* fonts */

.font-1 {
	font-family: 'fontawesome-webfont', sans-serif;
	src:url(fonts/fontawesome-webfont.woff);
	font-weight: 400;
}

.font-2 {
	font-family: 'fontawesome-webfont', sans-serif;
	src:url(fonts/fontawesome-webfont.woff);
	font-weight: 600;
}

/* structure */

.grid {
	width: 90%;
	margin: 1rem auto;
	max-width: 980px;

}

.a {
	border-radius: 10rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.85rem;
	display: inline-block;
	padding: 0.85rem 1.5rem;
	text-decoration: none;
	color: $blanco;
	background: $grisOsc;
	&:hover {
		background: $negro;
		color: white;
	}
}

/* transitons */

.t {
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
  //  -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.t2 {

	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
//	-o-transition: background .3s linear;
	transition: background .3s linear;

}

/* grad generated */

.grad-gris {
	background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(0%, rgba(237,237,237,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}
