/* colors */

$negro: #333;
$corporative: red;

/* fonts */

.font-1 {
	font-family: 'Francois One', sans-serif;
	font-weight: 400;	
}

.font-2 {
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
}

/* structure */

.grid {
	width: 95%;
	margin: 0 auto;
	max-width: 860px;
}