.project {
	padding: 0 0 15rem 0;
	&__title {
		@extend .grid;
		margin-bottom: 2rem;
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: -2px;
		@extend .font-2;
	}
	&__main {
		font-size: 1rem;
		line-height: 1.75rem;
		p {
			font-size: 1rem;
			line-height: 1.75rem;
			width: 90%;
			max-width: 600px;
			margin: 2.5rem auto
		}
	}
	&__cat {
		@extend .grid;
		a {
			margin-right: 1rem;
			margin-bottom: 1rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 0.85rem;
			display: inline-block;
			padding: 0.85rem 1.5rem;
			text-decoration: none;
			color: #333;
			background: #f0f0f0;
		}
	}
}

/* image full content */

p.image {
	width: 100%;
	max-width: 980px;
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
	}
}