.project {
	@extend .grid;
	padding: 0 0 15rem 0;
	&__title {
		margin-bottom: 2rem;
		font-size: 4rem;
		@extend .font-2;
	}
	&__main {
		font-size: 1rem;
		line-height: 1.75rem;
		p {
			font-size: 1rem;
			line-height: 1.75rem;
		}
	}
}