.project {
	padding: 0 0 3vw 0;
	&__title {
		@extend .grid;
		margin-bottom: 2rem;
		font-size: 4.5vw;
		padding-bottom: 3rem;
		letter-spacing: -0.1vw;
		text-align: center;
		@extend .font-1;
	}
	&__main {
		font-size: 100%;
		line-height: 1.37rem;
		p {
			font-size: 1.37rem;
			line-height: 1.75rem;
			width: 90%;
			max-width: 600px;
			margin: 2.5rem auto
		}
	}
	&__cat {
		@extend .grid;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 14vw;
		text-align: center;

		a {
			@extend .a;
		}
	}
}

/* image full content */

p.image {
	width: 100%;
	max-width: 980px;
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
	}
}
