.foot {
	font-size: 1.5rem;
	margin-top: 10vw;
	margin-bottom: 10vw;
	color: $negro;
	text-align: center;
	padding: 5rem 0;
	@extend .grid;
	@extend .font-2;
	a {
		@extend .aSinmarco;
		&:hover {
			text-decoration: underline;
		}
	}
}
