.header , .project{
	&__logo-link {
		color: black;
		text-decoration: none;
		opacity: 0.5;
		@extend .t;
		&:hover {
			opacity: 1;
		}
	}
	&__title {
		font-size: 4.5vw;
		@extend .font-2;
		padding-bottom: 3vw;
		letter-spacing: -0.1vw;
		text-align: center;
	}
	&__title-link {
		color: $negro;
		text-decoration: none;
	}
	&__box, &__nav {
		@extend .grid;
	}
	&__nav {
		margin-bottom: 8vw;
	}
	&__list {
		padding-bottom: 3vw;
		width: 90%;
		margin: auto;
		text-align: center;

		li {
			display: inline-block;
			margin: 0.5vw 0.5vw;
			cursor: pointer;
			a {
				@extend .a;
				@extend .t;

			}
		}
	}

	&__catSelec {

		background-color: $corporative;
	}

	&__logo {
		@extend .grid;
		margin-top: 10vw;
		padding-bottom: 1rem;
		position: relative;
		text-align: center;
		img {
			width: 1.5rem;
			vertical-align: middle;
			margin-right: 0.5rem;
		}

	}
	&__icon {
		@extend .grid;
		padding-bottom: 1rem;
		position: relative;

	}
	&__text-logo {
		padding: 2rem 0 1rem 0;
		font-size: 1.2vw;
		text-transform: uppercase;
		@extend .font-2;
	}
	&__link-info {
		position: absolute;
		top: 5%;
		right: 5%;

		a {
			font-size: 0.7rem;
			padding: 0.7rem;
			@extend .a;
			@extend .font-2;
			@extend .t;

		}
	}
}
