.header {
	&__information {
		width: 100%;
		position: relative;
		background: black;
		padding: 5rem 0;
		margin-bottom: 5rem;
		color: white;
		font-size: 2rem;
		color: #777;
	}
	&__title {
		font-size: 3.5rem;
		letter-spacing: -2px;
	}
	&__title-link {
		color: $negro;
		text-decoration: none;
	}
	&__box {
		@extend .grid;
	}
}