.head {
  width: 95%;
  position: absolute;
  display: inline-block;
  max-width: 860px;
  margin: 0 auto;
  font-family: 'font1', Fallback, sans-serif;

 &__homebutton {
   font-family: 'font1', Fallback, sans-serif;
   font-size: 2rem;
   padding: 2rem 0;
 }

 &_searchfield {
   right:  0;
   position: absolute;

 }
 }
