.aside-navigator {
	padding-top: 20rem;
	padding-bottom: 10rem;
	@extend .grad-gris;
}

.aside-more-post {
	@extend .grid;
	padding: 5rem 0 25rem 0;
	span {
		width: 50%;
		float: left;
		display: block;
		text-align: center;
		font-size: 2rem;
		a {
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
	}
}