.nav-oculto {
	display: none;
}

.nav-oculto-active {
	@extend .t;
	display: block;
}

.information {
	width: 100%;
	padding: 5rem 0rem 5rem 0 ;
	font-size: 1.2rem;
	background: #f0f0f0;
	display: block;
	text-align: center;
	margin: 0 auto;
	p{
		line-height: 1.5rem;
	}
	&__content {
		@extend .grid;
		display: block;
		overflow: hidden;
		width: 100%;
		text-align: center;
	}
	&__box {
		width: 80%;
		margin: 0 auto;
		text-align: center;

		span{
			font-weight: 900;
		}
		p
		{
			padding-bottom: 2rem;
		}
	}
	&__login {
		width: 35%;
	}

	a{
		@extend .a;
		margin-top: 1.4rem;
		margin-left: 1rem;

	}
}
