.nav-oculto {
	display: none;
}

.nav-oculto-active {
	display: block;
	@extend .t;
}

.information {
	width: 100%;
	padding: 5rem 0;
	background: #f0f0f0;
	&__content {
		@extend .grid;
		overflow: hidden;
	}
	&__box {
		width: 60%;
		float: left;
	}
	&__login {
		width: 35%;
		float: right;
	}
}