.nav-oculto {
	display: none;
}

.nav-oculto-active {
	@extend .t;
	display: block;
}

.information {
	width: 100%;
	padding: 5rem 0rem 5rem 0 ;
	font-size: 1.2rem;
	background: #f0f0f0;
	display: block;
	p{
		line-height: 1.5rem;
	}
	&__content {
		@extend .grid;
		display: table;
		overflow: hidden;
	}
	&__box {
		width: 60%;
		float: left;
	}
	&__login {
		width: 35%;
		float: right;
	}

	a{
		@extend .a;
		float: right;
		margin-top: 1rem;
		margin-left: 1rem;

	}
}
